#title-block{
    text-align: center;
    margin: 60px 0px;
}

.theme-description{
    background-color: #0A1E5B;
    margin: 0 auto;
    padding: 10px 0px;
    height: 70px;
    max-width: 425px;
    color: #FFFFFF;
    text-align: center;
}
