#outer-container{
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1320px;
    text-align: center;
}

.lecture{
    max-height: 200px;
}

.lecture .row{
    margin-top: 30px;
}

.lecture .row img{
    height: 80%;
    max-width: 100px;
    padding-right: 5px;
}

.lecture .question, .lecture .description{
    background-color: rgb(173, 145, 86, 0.9);
}

.lecture-type .row{
    background-color: #997C39;
    text-align: center;
    margin-top: 20px;
}

.lecture a{
    color: black;
    text-decoration: none !important;
}

.lecture-type .row p{
    padding-top: 10px;
    margin-left: 1px;
}