#outer-container{
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1320px;
    text-align: center;
}

#outer-container h1{
    margin-bottom: 40px;
}

#outer-container img{
    margin: 10px;
}

#arrow{
    position: absolute;
    rotation: 40deg;
    transform: rotate(100deg);
    top: 550px;
    left: 930px;
    height: 100px;
    width: 800px;
}

#stamboom{
    position: absolute;
    top: 160px;
    left: 100px;
    width: 900px;
}

#jheronimus{
    position: absolute;
    top: 160px;
    left: 1400px;
    width: 350px;
}

#jheronimus-description{
    position: absolute;
    top: 575px;
    left: 1400px;
    text-align: center;
    background-color: rgb(173, 145, 86, 0.6);
}

#tijdlijn{
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 310px;
    width: 1880px;
}