body {
    background: url("/static/images/depositphotos_91293664-stock-photo-aged-treasure-map-background-with.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}