{% extends 'jeugd/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div>
    <div id="title-block">
        <h1 id="title">Jeugd Boschlogie</h1>
    </div>
    <div class="container-fluid">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-4 active">
                    <a href="{% url 'jeugd:lectures' %}">
                        <img class="img-fluid mx-auto d-block"
                             src="{% static 'images/index/01-drakenfontein-den-bosch-1024x678.jpg' %}" alt="slide 1">
                        <div class="theme-description">
                            <h5>
                                Thema 1: Schatten van de Draak
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item col-md-4">
                    <a href="{% url 'jeugd:lectures' %}">
                        <img class="img-fluid mx-auto d-block" src="{% static 'images/index/BMN6480.jpg' %}"
                             alt="slide 2">
                        <div class="theme-description">
                            <h5>
                                Thema 2: Jheronimus Bosch
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item col-md-4">
                    <a href="{% url 'jeugd:lectures' %}">
                        <img class="img-fluid mx-auto d-block" src="{% static 'images/index/DenBosch-5.jpg' %}"
                             alt="slide 3">
                        <div class="theme-description">
                            <h5>
                                Thema 3: Sint Jan
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item col-md-4">
                    <a href="{% url 'jeugd:lectures' %}">
                        <img class="img-fluid mx-auto d-block"
                             src="{% static 'images/index/oeteldonk-carnavalsoptocht.jpg' %}" alt="slide 4">
                        <div class="theme-description">
                            <h5>
                                Thema 4: Oeteldonk
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item col-md-4">
                    <a href="{% url 'jeugd:lectures' %}">
                        <img class="img-fluid mx-auto d-block" src="{% static 'images/index/Binnendieze.jpg' %}"
                             alt="slide 5">
                        <div class="theme-description">
                            <h5>
                                Thema 5: Binnendieze
                            </h5>
                        </div>
                    </a>
                </div>
                <!--<div class="carousel-item col-md-4">-->
                    <!--<a href="{% url 'jeugd:lectures' %}">-->
                        <!--<img class="img-fluid mx-auto d-block"-->
                             <!--src="{% static 'images/index/92ba276c35d4717b7e32572429b6a993&#45;&#45;bosch.jpg' %}"-->
                             <!--alt="slide 6">-->
                        <!--<div class="theme-description">-->
                            <!--<h5>-->
                                <!--Thema 6: Knillis-->
                            <!--</h5>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <div class="carousel-item col-md-4">
                    <a href="{% url 'jeugd:lectures' %}">
                        <img class="img-fluid mx-auto d-block" src="{% static 'images/index/tuighuis.jpg' %}"
                             alt="slide 7">
                        <div class="theme-description">
                            <h5>
                                Thema 6: Groot Tuighuis
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item col-md-4">
                    <a href="{% url 'jeugd:lectures' %}">
                        <img class="img-fluid mx-auto d-block" src="{% static 'images/index/marienburg.jpg' %}"
                             alt="slide 8">
                        <div class="theme-description">
                            <h5>
                                Thema 7: Marienburg
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<script src="{% static 'scripts/carousel.js' %}"></script>
{% endblock %}