{% extends 'jeugd/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/lecture.css' %}">

<div id="outer-container">
    <h1>Les 1: Jheronimus Bosch, wie was dat nu eigenlijk?</h1>
</div>
<img id="stamboom" src="{% static 'images/lecture/stamboom.png' %}">
<img id="jheronimus" src="{% static 'images/lecture/250px-Jheronimus_Bosch_(cropped).jpg' %}">
<div id="jheronimus-description"><h6><b>Jheronimus Bosch<br>('s-Hertogenbosch, circa 1450 - 9 augstus 1516)</b></h6></div>
<img id="tijdlijn" src="{% static 'images/lecture/60508a8e266c4294a9eb98f7040d460b3647ebf1.jpg' %}">
<img id="arrow" src="{% static 'images/lecture/arrow.png' %}">



{% endblock %}