{% extends 'jeugd/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/lectures.css' %}">

<div id="outer-container">
    <h1>Jheronimus Bosch</h1>
    <div class="lecture row">
        <a href="{% url 'jeugd:lecture' %}">
            <div class="row">
                <div class="col col-sm-1"><img
                        src="{% static 'images/lectures/250px-Jheronimus_Bosch_(cropped).jpg' %}"></div>
                <div class="question col col-sm-2"><p><br><br>Les 1: Jheronimus Bosch, wie was dat nu eigenlijk?</p></div>
                <div class="description col col-sm-8"><p><br><br>In deze les leren de kinderen, wie Jeroen Bosch was: In welke
                    tijd leefde hij en hoe
                    zag 's-Hertogenbosch er toen uit? Wat heeft deze man allemaal gedaan in zijn leven, en waarom is hij
                    belangrijk voor 's-Hertogenbosch?</p></div>
                <div class="lecture-type col col-sm-1">
                    <div class="m-2">
                        <div class="row"><p>Digiboard Les</p></div>
                        <div class="row"><p>Bronnenblad</p></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="lecture row">
        <a href="{% url 'jeugd:lecture' %}">
            <div class="row">
                <div class="col col-sm-1"><img
                        src="{% static 'images/lectures/de_tuin_der_lusten.jpg' %}">
                </div>
                <div class="question col col-sm-2"><p><br><br>Les 2: Goed en kwaad in de Tuin der Lusten.</p></div>
                <div class="description col col-sm-8"><p><br><br>In les 2 bestuderen de kinderen het meesterwerk van Jeroen
                    Bosch: De tuin der Lusten. Door middel van hun eigen creativiteit leren de kinderen hoe het
                    schilderij geïntepreteerd kan worden.</p></div>
                <div class="lecture-type col col-sm-1">
                    <div class="m-2">
                        <div class="row"><p>Digiboard Les</p></div>
                        <div class="row"><p>Bronnenblad</p></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="lecture row">
        <a href="{% url 'jeugd:lecture' %}">
            <div class="row">
                <div class="col col-sm-1"><img
                        src="{% static 'images/lectures/hieronymus_bosch_3_529_548_80.jpeg' %}"></div>
                <div class="question col col-sm-2"><p><br><br>Les 3: Jheronimus Bosch en 's-Hertogenbosch nu.</p></div>
                <div class="description col col-sm-8"><p><br><br>Les 3 legt het veraband tussen het verleden en heden. Wat
                    merken we nu nog van de invloed va nJheronimus Bosch? Deze les stimuleert de kinderen om de stad
                    actief te ontdekken.</p></div>
                <div class="lecture-type col col-sm-1">
                    <div class="m-2">
                        <div class="row"><p>Digiboard Les</p></div>
                        <div class="row"><p>Bronnenblad</p></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}