{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/navigation.css' %}">

<nav id="primary-navigation" class="navbar navbar-expand-lg navbar-light navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="{% url 'jeugd:index' %}">
        <img src="{% static 'images/logo.png' %}" width="50" height="40" class="d-inline-block align-top"
             alt="Logo">
    </a>

    <button class="navbar-toggler navbar-left pull-left" type="button" data-toggle="collapse" data-target="#navbar-primary"
            aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-primary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'jeugd:index' %}">Home<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>

    <a id="boschologie-brand" class=" mx-auto navbar-right pull-right" href="https://www.erfgoedshertogenbosch.nl/">
        <img src="{% static 'images/logo_S-hertogenbosch@2x.png' %}" width="150" height="30" alt="Boschologie">
    </a>
</nav>